@*@model Mtama.Models.PaymentsViewModel*@
@*@model IEnumerable<Mtama.Models.PaymentModel>*@

@*@model X.PagedList.IPagedList<Mtama.Models.PaymentModel>
    @using X.PagedList.Mvc.Core;

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@model IEnumerable<Mtama.Models.PaymentModel>
@{
    ViewData["Title"] = "View Payments";
    var etherscanLink = ConfigurationManager.GetAppSetting("Etherscan");
}
<link href="~/css/bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/bootstrap4.1.3.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
<script src="~/lib/jquery.dataTables/jquery.dataTables.min.js"></script>
<script src="~/js/bootstrap4.min.js"></script>


<div class="col-md-12 ">
</div>
<br />
<br />
<br />

<div class="w3-container">


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    TxHash
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    KSH
                </th>
                <th>
                    ETH
                </th>
                <th>
                    Status
                </th>
                <th>
                    Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TxStatus != "Draft")
                {
                    <tr>
                        <td>
                            <a href="/Home/ViewTransaction?Id=@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Id)</a>
                        </td>
                        <td>
                            <a href="@etherscanLink@item.TxHash" target="_blank">@Html.DisplayFor(modelItem => item.TxHash)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sender.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountInFiat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountInEther)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TxStatus)
                        </td>
                        <td>
                            @{
                                item.TimeStamp = item.TimeStamp.AddHours(3);

                            }
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>

<br />
